<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="wms_project.mapper.DeliveryStateMapper">


	<select id="shipstatus" resultType="wms_project.dto.DeliveryStateDTO" parameterType="Map">
	SELECT didx,dcode,dname,dspot,dhp,dapprove,deliveredctn,lostctn
	FROM shipstatus
	<where>
	<if test="part != null and search != null and search != ''">
		 <choose>
	          <when test="part == '이름'">
	              AND dname LIKE CONCAT('%', #{search}, '%')
	          </when>
	          <when test="part == '사원번호'">
	              AND dcode LIKE CONCAT('%', #{search}, '%')
	          </when>
	          <when test="part == '연락처'">
	              AND dhp LIKE CONCAT('%', #{search}, '%')
	          </when>
	     </choose>           
	</if>	
	</where>
	ORDER BY didx DESC
	LIMIT ${startno}, ${endno}
	</select>



	<!-- 카운트 -->
	<select id="stateCtn" resultType="Integer" parameterType="Map">
	SELECT COUNT(*) AS ctn
	FROM shipstatus
	<where>
	<if test="part != null and search != null and search != ''">
		 <choose>
	          <when test="part == '이름'">
	              AND dname LIKE CONCAT('%', #{search}, '%')
	          </when>
	          <when test="part == '사원번호'">
	              AND dcode LIKE CONCAT('%', #{search}, '%')
	          </when>
	          <when test="part == '연락처'">
	              AND dhp LIKE CONCAT('%', #{search}, '%')
	          </when>
	     </choose>           
	</if>	
	</where>	
	</select>


</mapper>