<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="wms_project.mapper.MemberMapper">

	<insert id="member_join" parameterType="String">
		insert into member values ('0', #{mpart}, #{mspot}, #{mname}, #{mjob}, #{mid}, #{mpass}, #{memail}, #{mhp},'대기', now())
	</insert>

	<select id="search_id" resultType="String" parameterType="String">
		select count(*) as ctn from member where mid=#{mid} order by midx desc 
	</select>
	
	 <select id="login_id" resultType="wms_project.dto.MemberDTO">
		select mpart, mspot, mid, mpass, mname, memail, mhp, approve from member where mid=#{mid}
	</select>

</mapper>