<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wms_project.mapper.MobileMapper">

	<select id="MobileLogin" resultType="wms_project.dto.MobileDTO">
		SELECT dspot, demail, dhp, dcode, dname, dpass, dimgck, dapprove
		FROM mobile
		WHERE dcode=#{deliver_id}
		AND dimgck='Y'   
	</select>

	<select id="MobileList" resultType="wms_project.dto.MobileDTO" parameterType="Map">
		SELECT didx,dcode,acustomer,ahp,addr,stracking,shipstate,mobileck
		FROM mobile
		WHERE adeliveryck = 'Y'
		AND bapprove = 'N'
		AND b_dapprove = 'N'
		AND dapprove = '근무중'
		AND stracking != 'N'
		AND mobileck != 'N' 
	</select>
	
	
	<select id="QrCk" resultType="wms_project.dto.MobileDTO" parameterType="String">
		SELECT shipstate, aordercode, acustomer, ahp, addr, shipstate,mobileck,stracking
		FROM mobile
		WHERE stracking = #{tracking}	
		AND adeliveryck = 'Y'
		AND bapprove != 'Y'
		AND b_dapprove != 'Y'
	</select>
	
	
	<update id="QrUpdate" parameterType="wms_project.dto.MobileDTO">
		UPDATE mobile
		SET mobileck ='배송중', shipstate = '배송중'
		WHERE stracking = #{tracking}
		AND stracking != 'N'
	</update>
	
	
	
	<update id="MobileState" parameterType="wms_project.dto.MobileDTO">
		UPDATE mobile
		SET mobileck = #{state}, shipstate = #{sts}
		WHERE stracking= #{tracking}
		AND stracking != 'N'
	</update>

</mapper>