<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wms_project.mapper.OrderMapper">

    <insert id="insert_order" parameterType="wms_project.dto.ShippingDTO">
        insert into shipping (aidx, aordercode, aproductcode, aproduct, acustomer, ahp, addr, account, acode, adeliveryck, date,
            bstorage, bstoragecode, bpalett, bpalettcode, bapprove,
            deliveryname, dcode, dspot, dapprove, stracking, sqrimg, sqrurl, shipstate)
        values ('0', #{aordercode}, #{aproductcode}, #{aproduct}, #{acustomer}, #{ahp}, #{addr}, #{account}, #{acode}, #{adeliveryck}, now(),
            #{bstorage}, #{bstoragecode}, #{bpalett}, #{bpalettcode}, #{bapprove},
            #{deliveryname}, #{dcode}, #{dspot}, #{dapprove}, #{stracking}, #{sqrimg}, #{sqrurl}, #{shipstate})
    </insert>


</mapper>