<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wms_project.mapper.OrderMapper">

    <insert id="insert_order" parameterType="wms_project.dto.ShippingDTO">
        insert into shipping (aidx, aordercode, aproductcode, aproduct, acustomer, ahp, addr, account, acode, adeliveryck, date,
            bstorage, bstoragecode, bpalett, bpalettcode, bapprove,
            deliveryname, dcode, dspot, dapprove, stracking, sqrimg, sqrurl, shipstate)
        values ('0', #{aordercode}, #{aproductcode}, #{aproduct}, #{acustomer}, #{ahp}, #{addr}, #{account}, #{acode}, #{adeliveryck}, now(),
            #{bstorage}, #{bstoragecode}, #{bpalett}, #{bpalettcode}, #{bapprove},
            #{deliveryname}, #{dcode}, #{dspot}, #{dapprove}, #{stracking}, #{sqrimg}, #{sqrurl}, #{shipstate})
    </insert>

    <!-- 등록된 주문 리스트 -->
    <select id="order_list" parameterType="Map" resultType="wms_project.dto.ShippingDTO">
        select aidx, aordercode, aproduct, aproductcode, acustomer, ahp, addr, date, adeliveryck, shipstate, account from shipping where 1=1
        <if test="start_date != null and end_date != null">
            and date >= concat(#{start_date}, ' 00:00:00') and date &lt;= concat(#{end_date}, ' 23:59:59')
        </if>
        order by date desc
        limit #{startno}, #{items}
    </select>

    <!--  등록된 주문 개수  -->
    <select id="order_count" parameterType="Map">
        select count(*) from shipping
        <if test="start_date != null and end_date != null">
            where date >= concat(#{start_date}, ' 00:00:00') and date &lt;= concat(#{end_date}, ' 23:59:59')
        </if>
    </select>

    <!-- 거래처별 주문 리스트 -->
    <select id="search_account" parameterType="String" resultType="wms_project.dto.ShippingDTO">
        select aidx, aordercode, aproduct, aproductcode, acustomer, ahp, addr, date, adeliveryck, shipstate from shipping
        <if test="account != 'N'">
            where account = #{account}
        </if>
        order by date desc
    </select>

    <!-- 등록된 주문의 거래처 -->
    <select id="account_list" resultType="String">
        select account from shipping group by account
    </select>

    <!-- 거래처 삭제 -->
    <delete id="delete_order" parameterType="String">
        delete from shipping where aidx = #{aidx}
    </delete>



</mapper>