<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wms_project.mapper.PaletteMapper">

    <!-- 로그인한 관리자의 소속 지점에 따른 팔레트 전체 리스트 출력 -->
    <select id="palette_list" parameterType="String" resultType="wms_project.dto.PaletteDTO">
        select pidx, pname, pcode, psize, pcolor, pusing from palette where mspot = #{mspot} order by pdate desc
    </select>

    <!-- 검색한 팔레트 리스트 출력 -->
    <select id="search_palette" parameterType="String" resultType="wms_project.dto.PaletteDTO">
        select pidx, pname, pcode, psize, pcolor, pusing from palette where mspot = #{mspot} and pname like concat('%',#{search},'%') order by pdate desc
    </select>

    <!-- 페이징 + 팔레트 리스트 출력 -->
    <select id="palette_list_paging" parameterType="Map" resultType="wms_project.dto.PaletteDTO">
        select pidx, pname, pcode, psize, pcolor, pusing from palette
        where mspot=#{mspot}
        <if test="search != null">
            and officename like concat('%',#{search},'%')
        </if>
        order by pdate desc
        limit #{startno}, #{items}
    </select>

    <!-- 팔레트 개수 구하기 -->
    <select id="count_palette" parameterType="Map" resultType="Integer">
        select count(*) from palette where mspot=#{mspot}
        <if test="search != null">
            and officename like concat('%',#{search},'%')
        </if>
    </select>

    <!-- 팔레트 수정 페이지 출력 -->
    <select id="modify_palette" parameterType="String" resultType="wms_project.dto.PaletteDTO">
        select pidx, pname, pcode, psize, pcolor, pusing from palette where pidx = #{pidx}
    </select>

    <!-- 팔레트 수정 -->
    <update id="update_palette" parameterType="wms_project.dto.PaletteDTO">
        update palette set psize = #{psize}, pcolor = #{pcolor} where pidx = #{pidx}
    </update>

    <!-- 팔레트 삭제 -->
    <delete id="delete_palette" parameterType="String">
        delete from palette where pidx = #{pidx}
    </delete>

    <!-- 팔레트 이름 중복 검사 -->
    <select id="pname_check" parameterType="String" resultType="String">
        select count(*) as cnt from palette where pname=#{pname}
    </select>

    <!-- 신규 팔레트 등록 -->
    <insert id="insert_palette" parameterType="Map">
        insert into palette (pidx, pname, pcode, psize, pcolor, pusing, mspot, pdate)
        values ('0', #{pdto.pname}, #{pdto.pcode}, #{pdto.psize}, #{pdto.pcolor}, #{pdto.pusing}, #{mspot}, now())
    </insert>

</mapper>