<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wms_project.mapper.ShipmentMapper">

    <!-- shipmentMain 오더 리스트 출력 -->
    <select id="shipment_list" parameterType="Map" resultType="wms_project.dto.ShippingDTO">
        select aidx, aordercode, aproduct, aproductcode, acustomer, ahp, bstorage, bpalett, date, adeliveryck, bstoragecode, bpalettcode from shipping where shipstate != '배송완료'
        <if test="start_date != '' and start_date != null and end_date != '' and end_date != null">
            and date >= concat(#{start_date}, ' 00:00:00') and date &lt;= concat(#{end_date}, ' 23:59:59')
        </if>
        order by date desc
    </select>

    <!-- 물품 검색 팝업 상품 리스트 출력 -->
    <select id="product_list" parameterType="Map" resultType="wms_project.dto.ProductDTO">
        select pdidx, sname, pname, pdcode, pdname, pdamount, pddate from product
        where pdcode = #{aproductcode} and mspot = #{mspot}
        <choose>
            <when test="part == '상품명'">
                and pdname like concat('%',#{search},'%')
            </when>
            <when test="part == '상품코드'">
                and pdcode like concat('%',#{search},'%')
            </when>
        </choose>
        order by pddate desc
    </select>

    <!-- 물품 검색 팝업 물품 적용 버튼 클릭 -->
    <select id="apply_product" parameterType="String" resultType="wms_project.dto.ProductDTO">
        select pdidx, sname, pname, pdname, scode, pcode from product
        where pdidx = #{pdidx}
    </select>

    <!-- 물품 저장 -->
    <update id="save_shipment" parameterType="wms_project.dto.ShippingDTO">
        update shipping set bstorage = #{bstorage}, bpalett = #{bpalett}, bstoragecode = #{bstoragecode}, bpalettcode = #{bpalettcode}, dapprove='N'
        where aidx = #{aidx}
    </update>

</mapper>