<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wms_project.mapper.StorageMapper">

    <!-- 등록 -->
    <insert id="insert1" parameterType="wms_project.dto.StorageDTO">
        INSERT INTO storage (scode, sspot, sname, spost, saddress1, saddress2, smname, smhp, suse, mid, sdeleted, sdate)
        VALUES (#{scode}, #{sspot}, #{sname}, #{spost}, #{saddress1}, #{saddress2}, #{smname}, #{smhp}, #{suse}, #{mid},
                #{sdeleted}, NOW())
    </insert>

    <!-- 중복체크(창고코드) -->
    <select id="checkCode" resultType="int">
        SELECT COUNT(*)
        FROM storage
        WHERE scode = #{scode}
    </select>

    <select id="searchall" parameterType="String" resultType="wms_project.dto.StorageDTO">

        select *
        from storage
        where sspot = #{mspot}

    </select>
	<select id="all" parameterType="String" resultType="wms_project.dto.StorageDTO">

		select * from storage where sname LIKE CONCAT('%', #{search}, '%')
               
	</select>


    <select id="getByID" parameterType="String" resultType="wms_project.dto.StorageDTO">

        select *
        from storage
        where scode = #{scode}

    </select>

    <update id="updateByID" parameterType="wms_project.dto.StorageDTO">

      update storage
      set
          sname = #{sname},
          spost = #{spost},
          saddress1 = #{saddress1},
          saddress2 = #{saddress2},
          smname = #{smname},
          smhp = #{smhp},
          suse = #{suse}
      where scode = #{scode}
    </update>
    
     <update id="deleteByID" parameterType="wms_project.dto.StorageDTO">

      update storage
      set sdeleted = 0
      where scode = #{scode}
    </update>
    
    
</mapper>
